.Gaiti{
    position: relative;
    height: 100%;
    background-color:red;
}
.Gaiti_LineTopBlue{
    width: 100%;
    height: 50%;
    background: blue;
    bottom: 0px;
    position: absolute;
}
.Gaiti_ImgCenter{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("gaiti.png");
    background-repeat: no-repeat;
    background-position: center;
}