.Burkina{
	height: 100%;
}
.Burkina_lineRed{
	height: 50%;
	background: red;	
}
.Burkina_lineGreen{
	height: 50%;		
	bottom: 0px; 
   background: green;
}
.Burkina_star-five {
   margin: 50px 0;
   position: absolute;
   display: block;
   top: 30%;
   left: 45%;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 18px  solid yellow;
   border-left:   25px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.Burkina_star-five:before {
   border-bottom: 25px solid yellow;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -13px;
   left: -16px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.Burkina_star-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 0px;
   left: -25px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 18px solid yellow;
   border-left: 25px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}