.Bangladesh {
	position: relative;
	padding-left: 45px;
    height: 100%;
    background: #006a4e;
}
.Bangladesh_1 {
    position: absolute;
    top: -15px;
    margin: 70px 5px 70px 150px;
    width: 200px;
    height: 200px;
    background: #f42a41;
    border-radius: 50%;
}
